
<div id="greeting-block">
    <div id="greeting-text-upper">добавляй сайты в категории</div>
    <div id="images-wrap"></div>
    <div id="greeting-text-lower">сортируй по темам</div>
    <div id="images-wrap-subcateg"></div>
</div>

<script defer src="/dist/script1.bundle.js"></script>  