<form action="" method="POST">
    <input id="name" name="name" placeholder="название сайта">
    <select name="categ" id="categ" placeholder="категория">
        
    </select>   
    <select name="subCateg" id="subCateg" placeholder="категория">
        
    </select>  
    <input name="domain" placeholder="доменное имя">
    <textarea name="descr" placeholder="краткое описание"></textarea>
    <input name="link" placeholder="ссылка на ресурс">
    <input type="submit">
</form>