<ul>
    {{#each categories}}
        <li><img src="images/{{translater this}}.png" class="categ-img" alt="image"><a href="/categ/{{this}}">{{this}}</a></li>
    {{/each}}
</ul>

<form action="/add" method="GET">
    <input type="submit" value="добавить сайт">
</form>


